---
import {HeroCarousel} from '@/components/HeroCarousel.tsx';
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
---

<Layout title="Pho Chopstix - Kingston">
	<main>
		<HeroCarousel client:load  />
	</main>
</Layout>

